{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're essss receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{{ uid }}
{{ token }}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} Esto es SIIIIII prueba {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}















{% load i18n %}{% autoescape off %}

Recibió este correo electrónico porque solicitó un restablecimiento de contraseña para su cuenta de usuario en {{ site_name }}.


Copie los códigos a continacion, péguelo en la aplicacón y elija una nueva contraseña:

Codigo 1: {{ uid }}
Codigo 2: {{ token }}

Su nombre de usuario, en caso de que lo haya olvidado, es: {{ user.get_username }}

"¡Gracias por usar nuestra aplicación!"